.header {
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

.logoarea {
  margin: 0 auto;
  width: 100%;
  height: 150px;  
  padding-top: 30px;
  background-color: rgb(63, 155, 155);
  text-align: center;
  border-bottom: 3px solid rgb(163, 241, 18);
}

.title {
  font-family: AllegraMedium,sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 10px;
  color: rgb(163, 241, 18);
  text-shadow: 1px 1px 3px rgb(26, 119, 99);
}

.companyName {
  color: rgb(163, 241, 18);
  font-family: AllegraMedium,sans-serif;
  font-size: 19px;
  letter-spacing: .90px;
}

.mainForm {
    display: flex;
    justify-content: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    width: 350px;
}

.flexContainer > * {
    align-self: left;
    margin: 20px;
}

.text {
  font-family: AllegraMedium,sans-serif;
  font-size: 19px;
  letter-spacing: .76px;
}

input {
    width: 270px;
    border: 3px solid rgb(163, 241, 18);
}

input:focus{
  outline: none;
}

#submitButton {
    width: 90px;
    height: 30px;
    letter-spacing: 1px;
    background-color: rgb(163, 241, 18);
    border: 3px solid rgb(163, 241, 18);
}

#submitButton:hover {
    background-color: #fcfcfc;
}

#fnameOK {
  width: 10px;
  float: right;
  padding-left: 15px;
  font-size: larger;
}

hr {
  color: rgb(163, 241, 18);
}