.header {
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

.logoarea {
  margin: 0 auto;
  width: 100%;
  height: 150px;  
  padding: 15px;
  background-color: rgb(63, 155, 155);
  text-align: center;
}

.title {
  font-size: 4em;
  color: rgb(163, 241, 18);
  text-shadow: 1px 1px 3px rgb(26, 119, 99);
}

.companyName {
  font-size: large;
  color: rgb(243, 239, 7);
  text-align: center;
  text-align: center;
  font-size: large;
}

.mainForm {
    display: flex;
    justify-content: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    width: 30%;
}

.flexContainer > * {
    align-self: left;
    margin: 20px;
}

input {
    width: 190px;
}

.button {
    width: 60px;
    height: 30px;
    letter-spacing: 1px;
    background-color: #6cfecb;
    border: 3px solid #6cfecb;
}

.button:hover {
    background-color: #fcfcfc;
}
